.app {
  width: 99vw;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(30, 80, 243);
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: rgb(30, 80, 243);
  color: white;
}

.body {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
}
